:root {
  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);

  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  background-color: var(--Light-Grayish-Violet);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 50%;
}
.phone-interface {
  background-color: var(--White);
  border-radius: 35px;
  width: 80%;
  /* min-height: 500px; */
  margin: 50px;
}
.phone-device {
  background-color:var(--Light-Grayish-Violet);
  border-radius: 30px;
  margin: 10px;
  overflow: hidden;
}
.app-user-info-container {
  background: linear-gradient(90deg, var(--Light-Violet),var(--Light-Magenta));
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.back-icon {
  padding: 10px;
  text-align: center;
  color: var(--White);
  font-size: 12px;
}
.more-icon {
  padding: 10px;
  text-align: center;
  align-self: flex-end;
  color: var(--White);
  font-size: 12px;
}
.white-ribbon {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  position: relative;
  top: -25px;
  left: calc(50% - 75px);
  background-color: var(--White);
}
.user-picture img {
  width: 28px;
  border-radius: 50%;
  border: 1px solid var(--White);
}
.user-data-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.user-profile {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex: auto;
}
.user-name-status {
  margin-left: 10px;
}
.user-name-status p:nth-of-type(1) {
  color: var(--Light-Grayish-Violet);
  font-size: 14px;
  font-weight: 700;
}
.user-name-status p:nth-of-type(2) {
  color: var(--Pale-Violet);
  font-size: 10px;
  font-weight: 400;
}

.app-message {
  color: var(--Moderate-Violet);
  background-color: rgb(243 231 251);
  padding: 10px;
  width: 55%;
  margin: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 3px;
}
.app-message p {
  font-size: 10px;

}
.customer-message {
  color: var(--Desaturated-Dark-Violet);
  background-color: var(--White);
  padding: 10px;
  margin: 10px;
  width: auto;
  max-width: 65%;
  border-radius: 10px;
  border-bottom-right-radius: 3px;
}
.app-messages-container > div:nth-child(3){
  padding: 0;
  width: fit-content;
  background-color: inherit;

}
.app-messages-container > div:nth-child(4){
  max-width: 55%;
}
.app-messages-container > div:nth-child(5){
  max-width: 35%;
}
.customer-message p {
  color: var(--Desaturated-Dark-Violet);
  font-size: 10px;

}
.customer-message img {
  width: 50px;
  text-align: right;
  border-radius: 10px;
}
.rate-box {
  background: linear-gradient(90deg, var(--Light-Magenta),var(--Light-Violet));
  border-radius: 10px;
  border-bottom-left-radius: 3px;
  margin: 10px;
  padding: 12px 25px 12px 8px;
  max-width: 70%;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-circle {
  color: var(--Very-Light-Magenta);
  margin-right: 10px;
}
.rate-box p {
  color: var(--White);
  font-size: 10px;
}
.rate-box .time {
  flex: 2 1 200px;
  color: var(--Light-Grayish-Violet);
}
.rate-box .price {
  margin-left: 15px;
}
.rate-box .price p{

  font-size: 20px;
  font-weight: 500;

}
.app-description {
  text-align: center;
  width: 80%;
}
.app-description h1{
  color: var(--Very-Dark-Desaturated-Violet);
  font-size: 35px;
  margin: 30px 0;
}
.app-description p {
  color: var(--Dark-Grayish-Violet);
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 25px;
}
.app-typing-container {
  background-color: var(--White);
  margin: 20px 10px 10px 10px;
  border-radius: 25px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.type-message-box p{
  color: var(--Grayish-Blue);
  font-size: 14px;
}
.send-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px 20px;
  width: 20px;
  background-color: var(--Very-Dark-Desaturated-Violet);
  text-align: center;
}
.send-icon p {
  color: var(--White);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
